<div class="demo-button-container">
  <button mat-raised-button class="demo-button" (click)="onCreateClick()">
    Add Student
  </button>
</div>
<div class="loading-shade" *ngIf="loadTable$ | async">
  <mat-spinner></mat-spinner>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="stream">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stream </th>
      <td mat-cell *matCellDef="let element"> {{getStream(element.streamId).name}} </td>
    </ng-container>

    <ng-container matColumnDef="maxYearsInStream" mat-sort-header>
      <th mat-header-cell *matHeaderCellDef> Course Duration(Year) </th>
      <td mat-cell *matCellDef="let element"> {{ getStream(element.streamId).noOfYears }} </td>
    </ng-container>

    <ng-container matColumnDef="currentYear">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Current Year </th>
      <td mat-cell *matCellDef="let element"> {{ element.currStreamYear }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button title="Update" (click)="onUpdateClick(element)">
          <mat-icon>update</mat-icon>
        </button>
        <button mat-icon-button title="Delete" (click)="onDeleteClick(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>